html {
	scroll-behavior: smooth;
}

body {
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
}
/**
 * 2.1 - ヘッダー
 */
.header {
    display: flex;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF; 
    border-bottom: solid 1px #EEEEEE; 
    padding: 0 24px;
    z-index: 10000; 
    transition: background-color .3s linear;
  }

  .header_logo {
    width: 148px;
  }

  .header_nav {
    display: flex;
    align-items: center;
    margin-left: auto; 
    gap: 48px; 
  }

  .header_info{
    display: none;
  }
  
  .header_navList {
    display: flex;
    gap: 32px; 
  }
  
  .header_navItem {
    color: #0071BC;
    font-weight: bold;
    font-size: 14px;
  }

  .header_snsList {
    display: flex; 
    gap: 24px; 
  }

  .header.is-transparent {
    background-color: transparent;
    border: none;
  }
  
  .header.is-transparent:not(.is-open) .header_logo {
    filter: brightness(10);
  }
  
  .header.is-transparent:not(.is-open) .header_navLink {
    color: #FFFFFF;
  }
  
  .header.is-transparent:not(.is-open) .header_snsLink {
    filter: brightness(10);
  }

.mainvisual{
  background-image: url("../img/bg-mainvisual.jpg");
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position:relative;
}

.mainvisual_head{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: absolute;
  top: 75%;
  left: 15%;
  gap: 10px;
}

.mainvisual_title{
  background-color: #FFFFFF; /* 背景色の設定 */
  color: #0071bc;
  font-weight: bold; /* 太字 */
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-size: 24px; /* 文字の大きさを設定 */
  padding-left: 20px; /* 左側の余白設定 */
  padding-right: 4px; /* 右側の余白設定 */
  display: inline-block;
  width: 44vw;
}

.mainvisual_lead{
  background-color: #FFFFFF; /* 背景色の設定 */
  font-weight: bold; /* 太字 */
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-size: 60px; /* 文字の大きさを設定 */
  padding-left: 20px; /* 左側の余白設定 */
}

.mainvisual_scroll{
  position: absolute;
  right: 24px;
  bottom: 24px;
  color: #ffffff; /* 文字の色を設定 */
  font-size: 14px; /* 文字の大きさを設定 */
  letter-spacing: 0.1em; /* 文字間のスペースを設定 */
  font-weight: bold; /* 太字 */
  display: flex; /* 要素を横並びに設定 */
  gap: 4px; /* 要素間の余白設定 */
  align-items: center; /* 上下中央で揃える指定 */
  text-shadow: 0 0 10px rgba(51, 51, 51, 0.25);
  font-family: 'Plus Jakarta Sans', sans-serif
}

.mainvisual_scroll::before {
  content: "";
  display: block;
  width: 8px; /* 要素の幅を設定 */
  height: 8px; /* 要素の高さを設定 */
  background-color: #ffffff; /* 背景色を設定 */
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.25);
}

.wrapper{
  /* display: flex; */
  /* flex-direction: column; */
  padding: 80px 0 160px;

}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_jp{
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: .05em;
  /* display: block; */
  font-weight: bold;
}

.title_eng {
  font-weight: bold;
  display: block;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: .1em;
  margin-top: 8px;
  color: #0071BC;
  font-family: 'Plus Jakarta Sans', sans-serif
}

.about_container_A{
  padding: 30px 250px 0
}

.about_container_C{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
}

.about_image img{
  border-radius: 10px;
  width: 450px;
}

.about_explanation{
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  padding: 60px 0;
}

.section_head{
  padding: 130px 0 0
}

.event_images{
  overflow: auto;
  margin: 0 auto;
}

.event_explanation{
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  padding: 60px 0;
  text-align: center;
}

/* .event_list{
  display: flex;
  justify-content: center;
  gap: 40px;
} */

.event_image img{
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.event_piece{
  border-radius: 10px;
  overflow: hidden;
  width: 320px;
  flex-shrink: 0;
  background-color: #f7f9fb;
  text-align: center;
}

.event_image_body{
  padding: 20px;
}

.event_image_date{
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  background-color: #0071bc;
  color: #ffffff;
  padding: 0 12px;
  border-radius: 5em;
  display: inline-block;
  font-family: 'Plus Jakarta Sans', sans-serif
}

.event_image_name{
  margin-top: 4px;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.event_slide {
  margin: 0 auto;
}

.event_slideTrack {
  overflow: visible;
}

.section_contents{
  margin: 100px;
}

.section_body_1{
  margin: 0
}

.section_body_2{
  margin: 0
}

.section_body_3{
  display: none;
}

.daily_list{
  padding: 40px;
  display: flex;
  flex-direction:column;
  gap: 70px;
}

.daily_contents{
  display: flex;
  background-color: #F7F9FB;
  border-radius: 10px;
  min-height: 324px;
}

.daily_contents:nth-of-type(odd){
  flex-direction:row-reverse;
  margin-right: 40px;
}

.daily_contents:nth-of-type(even){
  margin-left: 40px;
}

.daily_img img{
  border-radius: 10px;
  width: 480px;
  height: 320px;
  margin: -40px;
  flex-shrink: 0;
  margin-top: -40px;
  object-fit: cover;
}

.daily_img_detail{
  object-fit: cover;
}

.daily_detail{
  padding: 48px 56px;
  width: 100%;
}

.title_number{
  font-weight: bold;
  font-size: 58px;
  color:#0071BC;
  line-height: 1;
  letter-spacing: 0.05em;
  font-family: 'Plus Jakarta Sans', sans-serif
}

.title_name{
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin-left: 20px;
}

.daily_terms{
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.term::before{
  content: '';
  width: 24px;
  height: 24px;
  background: url(../img/icon-check.svg);
  flex-shrink: 0;
}

.term{
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  gap: 8px;
}

.daily_explanation{
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  margin-top: 12px;
}

.LINE{
  background: url(../img/bg-cta.jpg) center center / cover no-repeat;
  padding: 40px 24px 52px;
  color: #ffffff;
  text-align: center;
}

.LINE_title{
  font-size: 36px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.1em;
  gap: 12px;
  display: flex;
  justify-content: center;
}

.LINE_title img{
  margin-top: 15px;
}

.LINE_explanation{
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  margin-top: 16px;
}

.LINE_link{
  margin-top: 32px;
}

.LINE_button{
  display: block;
  width: 315px;
  margin: 0 auto;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #0071BC;
  line-height: 1.5;
  letter-spacing: 0.1em;
  border: solid 1px #0071BC;
  border-radius: 50px;
  background-color: #ffffff;
}

.LINE_button:hover{
  background-color: #0071BC;
  color: #ffffff;
  border: #ffffff;
}

.footer {
    padding-top: 40px; 
    text-align: center; 
  }
  
.footer_inner {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 24px;
  }

.footer_logo {
    width: 200px;
  }

.footer_corporateLink {
    color: #666666;
    font-size: 14px;
    display: flex; 
    align-items: center; 
    gap: 4px; 
  }
  
.footer_snsList {
    display: flex; 
    gap: 24px;
  }
  
.footer_copyright{
    text-align: center;
    margin-top: 24px; 
    border-top: solid 1px #F7F9FB;
    color: #ADADAD;
    font-size: 10px;
    padding: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif
  }